/* 
1.1. HEADER
1.2. CONTENT OVERVIEW
1.3. RATE
1.4. FOOTER

2.1. CONTENT SKILLS


3.1 CONTENT SALARIES


4.1 CONTENT JOBS


5.1 CONTENT QUESTIONS


6.1 CONTENT ARTICLES


7.1 CONTENT COMPANIES

*/

/*===============================*/


/* HEADER */

.header {
    padding: 0;
}

.header .header__top {
    height: 3rem;
    line-height: 3rem;
    border-bottom: 2px solid #ebebeb;
    margin-left: 0;
    margin-right: 0;
}

.header .header__top .header__top__logo {
    height: 100%;
    margin-left: 2rem;
    border: none;
}

.header .header__top .header__top__logo img {
    margin-bottom: 0.5rem;
}


.header .header__top__firstlink ul li, .header__top__secondslink ul li{
    margin: 0 1rem 0 0;
    position: relative;
}

.header__top__secondslink {
    padding: 0;
}

.header .header__top__firstlink ul li::before, .header__top__secondslink ul li::before{
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #1497ff;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.1s;
}

#show-menu, label[for="show-menu"] {
    display: none;
}

.header__top__linkmb {
    display: none;
}

.header__top__secondslink ul li:nth-child(2)::before{
    display: none;
}

.header .header__top__firstlink ul li:hover::before, .header__top__secondslink ul li:hover::before{
    opacity: 1;
}

.header .header__top__firstlink ul li:hover a {
    color: black;
}

.header .header__top__firstlink ul li a {
    font-size: 0.875rem;
    color: #6f6f6f;
}   


.header .header__top__secondslink {
    text-align: right;
}

.header .header__top__secondslink a,span{
    font-size: 0.875rem;
    color: #6f6f6f;
}

.link-blue {
    font-weight: bold;
    color: #085ff7 !important;
}

.header .header__main {
    padding: 1rem 2rem 0 2rem;
}

.header .header__main .header__main__title h1{ 
    font-size: 2.625rem;
    letter-spacing: -.5px;
    font-weight: 700;
    line-height: 1.15;
}

.header .header__main .header__main__searchform form{
    display: flex;
}

#open-search, #close-search {
    display: none;
}

.header .header__main__searchform form input[type="text"] {
    padding: 1rem;
    width: 20rem;
    margin-right: 1rem;
    border-radius: .5rem;
    border: 1px solid #ccc;
    background-color: #fff;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.header .header__main__searchform label {
    font-size: 0.875rem;
    color: #6f6f6f;
}

.header .header__main__searchform button {
    padding: 0.5rem 1rem;
    height: 2.5rem;
    border: 1px solid blue;
    background-color: transparent;
    color: blue;
    border-radius: 0.35rem;
    margin-top: 2rem;
}

.header .header__main__searchform button:hover {
    background-color: #ebebeb !important;
}

.header__main__menu {
    height: 3.5rem;
    line-height: 3.5rem;
    margin-top: 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 2px solid #ebebeb;
}

.header__main__menu ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__main__menu ul li {
    position: relative;
    width: 5rem;
    text-align: center;
}

.header__main__menu ul li::before, .header__top__secondslink ul li::before{
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.1s;
}

.header__main__menu ul li a {
    font-size: 1rem;
    color: #6f6f6f;
}


.header__main__menu ul li:hover::before {
    opacity: 1;
    background-color: #1497ff !important;
}

.header__main__menu ul li:hover a{
    color: black;
}

.header__main__menu ul li.header__main__menu-active::before {
    opacity: 1;
    background-color: blue;
}

.header .header__path {
    padding-top: 1.5rem;
}

.header__path__main {
    padding: 0;
}

.header__path__main a{
    font-size: 0.85rem;
    color: #4b4b4b !important;
}

.header__path__main span{
    font-size: 0.85rem;
    color: #4b4b4b;
    margin: 0 0.5rem;
}

.header__path__main a:hover{
    text-decoration: underline;
}


.header__path li:last-child a{
    color: #085ff7 !important;
}

/*===============================*/


/* CONTENT OVERVIEW */

.intro {
    padding: 1rem 0;
}

.intro__image {
    border-radius: 50%;
    overflow: hidden;
    height: 12rem;
    width: 12rem;
}

.intro__text h2 {
    font-weight: bold;
}

.intro__text p {
    letter-spacing: 0;
    font-weight: 400;
    line-height: 1.38;
    color: #4b4b4b;
}

.feedback {
    font-size: .875rem;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 1.34;
    color: #6f6f6f;
    text-decoration: underline;
    text-align: left;
}

.working-as {
    margin-bottom: 2rem;
}

.working-as > div {
    overflow: hidden;
    margin-top: 2rem;
    padding: 2.5rem;
    border: 1px solid #ebebeb;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
    position: relative;
}

.working-as > div::before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    background-color:rgb(129, 107, 255);
    top: 0;
    left: 0;
}

.working-as__heading{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.working-as__heading img{
    height: 80%;
}

.working-as__heading h2{
    font-weight: bold;
}

.working-as__heading p {
    font-size: .875rem;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.43;
}

.working-as__main ul {
    display: flex;
    flex-wrap: wrap;
}

.working-as__main ul li{
    width: 50%;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 2.25rem;
    padding-top: .25rem;
    padding-right: 1rem;
    color: #4b4b4b;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    line-height: 1.38;
}

.how-much {
    margin-bottom: 2rem;
}

.how-much > div.container {
    padding: 0;
    position: relative;
    overflow: hidden;
}

.how-much .avg__salaries::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: rgb(8, 95, 247);;
    top: 0;
    left: 0;
}

.how-much h2 {
    font-weight: bold;
}

.how-much select {
    padding: 1rem;
    padding-right: 2rem;
    border: 2px solid #ccc;
    background-color: #fff;
    margin: 0.5rem 0 1rem 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.25rem;
    font-weight: 600;
    outline: none;
    width: 10rem;
}

.avg__salaries {
    border: 1px solid #ebebeb;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
}

.avg__salaries__left, .avg__salaries__right{
    width: 35%;
    padding: 3rem 2rem;
    background-color: #f9f9f9;
}

.avg__salaries__left h4 {
    font-size: 1.4375rem;
    line-height: 1.22;
    margin-bottom: 0;
    font-weight: bold;
    color: #6f6f6f;
}

.avg__salaries__left h4 ~ p {
    font-size: .75rem;
    line-height: 1.34;
    margin-right: .25rem;
    color: #6f6f6f;
    display: inline-block;
}

.avg__salaries__right {
    width: 60%;
    background-color: white;
}

.avg__salaries__right h5 {
    font-size: 1.125rem;
    letter-spacing: -.06px;
    line-height: 1.34;
    font-weight: 700;
    color: #6f6f6f;
}

.avg__salaries__right ul {
    display: flex;
    flex-wrap: wrap;
}

.avg__salaries__right ul li {
    width: 30%;
    display: flex;
    margin-right: 1rem;
}

.avg__salaries__right ul li img{
    height: 1.5rem;
}

.avg__salaries__right ul li p{
    font-size: .875rem;
    color: #6f6f6f;
}

.avg__salaries__right a.link-blue {
    font-weight: normal;
    font-size: 0.875rem;
}

.earn-more {
    position: relative;
    padding: 2rem;
    display: flex;
    border: 1px solid #ebebeb;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
}

.earn-more::before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: #6ed3ff;
    position: absolute;
    top: 0;
    left: 0;
}


.earn-more__left {
    width: 70%;
}

.earn-more__left h2 {
    font-weight: bold;
}

.earn-more__left input {
    width: 18rem;
    border-radius: 999px;
    height: 2.5rem;
    padding-left: 1rem;
    border: 1px solid #ebebeb;
}

.earn-more__left form a.link-blue {
    font-weight: normal;
    font-size: 0.875rem;
}

.earn-more__left button {
    padding: 0 2.25rem;
    margin-right: 2.5rem;
    background-color: transparent;
    border: 2px solid #ebebeb;
    color: #ebebeb;
    border-radius: 999px;
    transition: 0.2s;
}

.earn-more__left button:hover {
    border: 2px solid #085ff7;
    color: #085ff7;
}

.earn-more__right {
    width: 30%;
}

.paid-in {
    margin-top: 3rem !important;
    padding: 0;
}

.paid-in h2{
    font-weight: bold;
}

.paid-in ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.paid-in ul li {
    width: 30%;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    margin-top: 1rem;
}

.paid-in ul li > div{
    padding: 1rem;
}

.paid-in ul li > div:last-child{
    line-height: 2rem;
    border-top: 1px solid #ebebeb;
}

.paid-in ul li p{
    margin: 0;
}

.paid-in ul li .paid-in__item__title{
    font-weight: bold;
    line-height: 1.5rem;
    font-size: 1rem;
}

.paid-in ul li .paid-in__item__status {
    font-size: .875rem;
    line-height: 1.43;
    color: #6f6f6f;
}

.paid-in .price {
    font-size: 1.25rem;
    font-weight: bold;
}


.paid-in .link-blue {
    font-size: 1rem;
    font-weight: normal;
    color: #085ff7;
}

.question {
    margin-top: 3rem !important;
    border: 1px solid #ebebeb;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
    border-radius: 0.25rem;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.question::before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fceb6a;
}

.question > div:first-child {
    padding: 1.5rem;
}

.question .question__item {
    width: 100%;
    margin-left: 0;
    border-top: 1px solid #ebebeb;
}

.question .question__item h4,i{
    padding: 0;
}


.question .question__header h2{
    font-weight: bold;
} 

.question .question__item i{
    line-height: 2rem;
    font-size: 1.25rem;
    cursor: pointer;
} 

.question__ques {
    padding: 1rem;
}

.question__answer {
    border-top: 1px solid #ebebeb;
    background-color: #fbfbfb;
    max-height: 0;
    transition: 0.4s;
    overflow: hidden;
}

.question__answer div {
    padding: 1rem;
}

.question__answer div.row p {
    margin-bottom: 0;
}

.question__answer div.justify-content-end {
    padding-top: 0;
    padding-right: 3rem;
}

.question__answer div.justify-content-end button{
    background-color: white;
    padding: 0 1rem;
    border: 1px solid #095ef7;
    color: #095ef7;
    border-radius: 999px;
    font-size: 0.875rem;
    margin-left: 1rem;
}

.question__answer div.justify-content-end button i{
    font-size: 0.875rem;
}

.question__answer div.justify-content-end p{
    line-height: 2.25rem;
}

.question__answer div.justify-content-end button:hover {
    color: white;
    background-color: #0044e3;
}

.show {
    max-height: 100rem;
}

.question__link div{
    margin: 0;
    padding: 1.25rem;
    font-size: 0.875rem;
}

.question__link div a{
    font-weight: normal;
}

.questions__link p{
    margin-bottom: 0 !important;
}


.questions__link {
    padding: 1.5rem;
}

.questions__link a{
    color: #085ff7;
    margin-right: 1rem;
    position: relative;
    font-size: 0.875rem;
}

.questions__link a:hover{
    color: #1497ff;
    text-decoration: underline;
}

.questions__link a::after{
    display: inline-block;
    content: ".";
    color: #085ff7;
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    font-size: 1.25rem;

}


.questions__link a:last-child::after{
    display: none;

}

.career-insights {
    padding: 0;
    margin-top: 3rem !important;
}

.career-insights .title{
    font-weight: bold;
}

.career-insights__main {
    margin: 0;
    margin-top: 1.5rem;
    justify-content: space-between;
}

.career-insights__main__item {
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1px solid #ebebeb;
    padding: 0;margin-left: 0;
    width: 30%;
    padding-bottom: 1rem;
}

.career-insights__main__item p{
    font-size: 0.75rem;
    color: #6f6f6f;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.career-insights__main__item a {
    font-weight: normal;
    width: 100%;
}

.career-insights div.text-center {
    margin-top: 2.5rem;
}

.career-insights div.text-center a {
    text-align: center;
    background-color: #fff;
    border: .125rem solid #085ff7;
    color: #085ff7;
    border-radius: 100rem;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0.75rem 2.25rem;
}

.career-insights div.text-center a:hover {
    background-color: #085ff7;
    color: white;
}

/*===============================*/

/* RATE  */

#rate {
    margin-top: 3rem;
    height: 3rem;
    height: 5rem;
}

#rate > .container{
    padding: 0;
}

#rate > .container h2{
    font-weight: bold;
}

#rate .container > div { 
    border-radius: 10px;
    height: 100%;
    padding: 2rem 2.5rem;
    border: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;
}

#rate .container > div h1,.icon_rating {
    margin: 0;
    display: flex;
}

#rate .container > div .icon_rating div{
    margin-left: 2rem;
    position: relative;
}

#rate .container > div .icon_rating div:first-child::after{
    width: 4rem;
    display: block;
    content: "Not helpful";
    position: absolute;
    font-size: 0.75rem;
    left: -35%;
    margin-top: 0.5rem;
}

#rate .container > div .icon_rating div:last-child::after{
    width: 4rem;
    display: block;
    content: "Very helpful";
    position: absolute;
    font-size: 0.75rem;
    left: -35%;
    margin-top: 0.5rem;
}

/*===============================*/

/* FOOTER  */

#footer {
    margin-top: 5rem;
    background-color: #ebebeb;
}

.footer_first {
    display: flex;
    padding: 2rem 3rem;
}

.footer_first div , .footer_seconds div {
    width: 20%;
    margin: 0;
}

.footer_first div:first-child , .footer_seconds div div:first-child{
    width: 35%;
}

.footer_first a{
    letter-spacing: 0;
    line-height: 20px;
    color: black;
    font-size: 0.875rem;
}

.footer_first a:hover{
    text-decoration: underline;
}

.footer_seconds {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 3rem;
    background-color: black;
}

.footer_seconds > div{
    display: flex;
    width: 100%;
    justify-content: start;
    margin: 0;
}

.footer_seconds {
    color: white;
}

.footer_seconds > div:first-child a{ 
    line-height: 2rem;
}

.footer_seconds a{
    color: white;
    font-size: .875rem;
    letter-spacing: 0;
    font-weight: 400;
}

.footer_seconds a:hover{
    text-decoration: underline;
    color: #1497ff;
}

.footer_seconds .fab{
    font-size: 1.25rem;
    margin-right: 1.5rem;
}

.footer_seconds .copyright{
    margin-top: 2rem;
    display: block;
}

.footer_seconds .copyright a,span{
    margin: 0;
    color: #999;
    font-size: 0.875rem;
}


.footer_seconds .copyright p{
    margin-bottom: 0;
}

.footer_seconds .copyright a:hover{
    text-decoration: underline;
    color: #1497ff;
}


/*===============================*/

/* CONTENT SKILLS  */

.become {
    padding-top: 2rem;
}
.become__left img{
    margin-left: 2rem;
}

.become__right h2 {
    font-weight: bold;
}

.become__right p { 
    margin-bottom: 1rem;
    color: #4b4b4b;
}

/* .become__right ol {
    list-style-type: decimal !important;
} */

.become__right__link {
    font-size: .875rem;
    color: #6f6f6f;
}

.become__right__link-blue {
    font-size: 0.75rem;
    color: #085ff7;
}

.become__right__link-blue:hover {
    text-decoration: underline;
    color: #1497ff;
}

.become__right ol {
    padding-left: 2rem;
}

.become__right li {
    display: list-item !important;
    font-size: 0.875rem;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 1.43;
    color: rgb(75, 75, 75);
}

.skills img {
    margin-left: 0.5rem;
    padding-right: 0;
}

.skills h2{
    font-weight: bold;
}

.skills h2 div {
    line-height: 4.5rem;
}

.skills .check-list {
    display: flex;
    flex-wrap: wrap;
}

.skills .check-list li{
    width: 30%;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 2.25rem;
    padding-top: .5rem;
    padding-right: 1rem;
    color: #4b4b4b;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    line-height: 1.38;
}

.chart {
    margin-bottom: 3rem;
}

.content-chart h2{
    margin-bottom: 1.5rem;
    margin-left: -15px;
    font-weight: bold;
}

.content-chart h4 {
    font-weight: bold;
    color: black;
    margin-left: 1rem;
    font-size: 1.25rem;
}

.main__chart {
    justify-content: space-between;
}

.main__chart__left,.main__chart__right {
    width: 47.5%;
    margin: 0;
    padding: 1rem 0 2rem 0; 
    border-radius: 10px;
    border: 1px solid #ebebeb;
}

.main__chart__left p {
    font-size: 0.875rem;
    color: #6b6b6b;
    margin-top: 1.75rem;
}

.main__chart__right p {
    font-size: 0.875rem;
    color: #6b6b6b;
}

.main__chart__left p,canvas {
    padding: 0 1rem;
}

.main__chart__right p,canvas {
    padding: 0 1rem;
} 

.common .check-list {
    border: 1px solid #ebebeb;
    padding: 2rem;
    border-radius: 0.25rem;
}

.common .check-list li{
    width: 33%;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 2.25rem;
    padding-top: .5rem;
    padding-right: 1rem;
    color: #4b4b4b;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    line-height: 1.38;
}


/*===============================*/

/* CONTENT SALARIES  */

.salaries-by-year{
    padding: 0;
    margin-top: 3rem;
}


.salaries-by-year__main {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.salaries-by-year__main div{
    margin: 0;
}


.salaries-by-year__left {
    padding: 0.5rem 0 0 0;
    width: 40%;
    border: 1px solid #ebebeb;
    border-radius: 10px;
}

.salaries-by-year__left div{
    display: flex;
    justify-content: space-between;
}

.dark{
    background-color: #FBFBFB;
}

.salaries-by-year__left div{ 
    margin: 0;
    padding: 1rem;
}

.salaries-by-year__left div p{ 
    margin: 0;
}

.salaries-by-year__left div p:last-child{ 
    text-align: right;
}

.salaries-by-year__left .lable p { 
    font-size: 1rem;
    line-height: 1.38;
    letter-spacing: 0;
    color: #909090;
}

.salaries-by-year__right {
    width: 55%;
}

.salaries-by-year__right button{
    padding: 0.5rem 1.5rem;
    border: .125rem solid #085ff7;
    border-radius: 999px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    font-size: 0.875rem;
    color: #085ff7;
    font-weight: 700;
}

.salaries-by-year__right select {
    width: 70%;
    padding: 0.75rem;
    border: 2px solid #ccc;
    background-color: white;
    font-weight: bold;
    border-radius: 0.25rem;
    margin-right: 1rem;
}

.top-companies {
    padding: 0;
    margin-bottom: 3rem !important;
}

.top-companies .rank-list {
    border: 1px solid #ebebeb;
    border-radius: 10px;
    margin-top: 1rem;
}

.top-companies .rank-list ul li{
    display: flex;
    padding: 1rem;
}

.top-companies .rank-list ul li div{
    display: flex;
    margin: 0;
    width: 80%;
    flex-wrap: wrap;
    padding-left: 1rem;
    align-items: center;
}

.top-companies .rank-list ul li a{ 
    margin-bottom: 0;
    color: #6b6b6b;
}

.top-companies .rank-list ul li div div{
    padding-left: 0;
    padding-top: 0.05rem;
}

.top-companies .rank-list ul li > div a {
    margin: 0;
    margin-right: 2rem;
}

.top-companies .rank-list ul a:hover {
    text-decoration: underline;
}


.top-companies .rank-list ul li ~ div a:first-child {
    width: 100%;
}

.top-companies .rank-list ul li .bold{
    font-size: 1.25rem;
    color: black;
}

.top-companies .rank-list ul li > a:last-child{
    width: 5rem;
}

.top-companies .rank-list li:last-child a{
    text-align: right;
    padding-right: 2.5rem;
}

.fa-star,.fa-star-half-alt {
    color: #f7c94f;
}


.highest-pay {
    padding: 0;
    margin-bottom: 3rem !important;
}

.highest-pay__main {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.highest-pay__main__left {
    width: 48%;
    margin: 0;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    overflow: hidden;
}

.highest-pay__main__left ul{
    margin-bottom: 0;
}

.highest-pay__main__left ul li {
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem 0.5rem 1rem;
    border-bottom: 1px solid #ebebeb;
}

.highest-pay__main__left ul li p{
    margin: 0;
}


.highest-pay__main__left ul li:last-child {
    border-bottom: none;
}

.highest-pay__main__left ul li:hover{
    background-color: #085ff7;
}

.highest-pay__main__left ul li:hover *{
    color: white !important;
}

.highest-pay__main__left ul li div{
    margin: 0;
    width: 15%;
    margin-right: 1rem;
}

.highest-pay__main__left ul li div:nth-child(2){
    width: 60%;
}

.highest-pay__main__left ul li div:last-child{
    width: 20%;
    text-align: right;
}

.highest-pay__main__left ul li div:last-child a{
    color: black;
}


.highest-pay__main__left .number-rank {
    display: flex;
    background: black;
    width: 1.5rem;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    border-radius: 50%;
    color: white;
    font-size: .75rem;
    letter-spacing: 0;
    font-weight: 700;
    line-height: 1.34;
}


.best-paid {
    margin-top: 3rem !important;
    padding: 0;
}

.best-paid .row{
   margin: 0;
}

.best-paid > .row{
    justify-content: space-between;
    margin-top: 2rem;
}

.best-paid__item {
    padding: 1rem 0.5rem;
    width: 32%;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    margin-bottom: 2rem !important;
}

.best-paid__item .col-lg-6{
    padding: 0;
}

.best-paid__item p{
    margin: 0;
}

.best-paid__item p:first-child {
    font-size: .875rem;
    color: #909090;
    font-weight: bold;

}

.best-paid__item p:nth-child(2) {
    font-size: 1.125rem;
    letter-spacing: -.06px;
    line-height: 1.34;
    color: #000;
}

.best-paid__item p:nth-child(3) {
    margin-left: 0.25rem;
    font-size: 1.25rem;
    letter-spacing: -.1px;
    line-height: 1.3;
    font-weight: bold;
    color: #00b887;
}

.best-paid select {
    padding: 0.5rem;
    width: 12rem;
    border: 1px solid rgb(204, 204, 204);
    background-color: #fff;
    font-weight: bold;
    border-radius: 999px;
}

.table {
    border: 1px solid #ebebeb;
    border-radius: 0.5rem;
    padding: 0;
    overflow: hidden;
    margin-top: 1rem;
}

.best-paid .table table {
    width: 100%;
    border: 1px solid transparent;
    padding: 1rem;
}

.best-paid table tr{
    height: 3.5rem;
    line-height: 3.5rem;
}

.best-paid table tr.row-dark{
    background-color: #fbfbfb;
}

.best-paid table td,th{
    text-align: right;
    padding: 0 1rem;
    width: 15%;
}

.best-paid table th {
    letter-spacing: 0;
    font-weight: 400;
    color: #6F6F6F;
}

.best-paid table td:first-child,th:first-child {
    text-align: left;
    width: 65%;
}

.relate {
    margin-top: 5rem !important;
}

.relate__main {
    justify-content: space-between;
}

.relate__left, .relate__right {
    display: flex;
    padding: 2rem 1.5rem;
    width: 47%;
    border: 1px solid #ebebeb;
    border-radius: 0.5rem;
}

.relate__left h4, .relate__right h4 {
    font-weight: bold;
    font-size: 1.25rem;
}

.relate__left a, .relate__right a {
    font-size: 0.875rem;
    color: black;
}

.benefit {
    padding: 0;
    margin-top: 2rem !important;
}

.benefit__main ul{
    display: flex;
    flex-wrap: wrap;
}

.benefit__main ul li{
    display: flex;
    width: 30%;
    margin: 0.5rem 1rem 0.5rem 0;
}

.benefit__main ul li p{
    font-size: 0.875rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: #6b6b6b;
}

.should__be {
    margin-top: 3rem !important;
    border: 1px solid #ebebeb;
    border-radius: 0.5rem;
    padding: 1rem 1rem 0 1rem;
}

.should__be__left h2 {
    font-weight: bold;
}

.should__be__left p {
    color: #4b4b4b;
}

.should__be__left a {
    padding: 1rem 5.5rem;
    background-color: blue;
    border-radius: 999px;
    color: white;
    font-weight: bold;
}


/*===============================*/

/* CONTENT JOBS  */

.job-opening {
    padding: 0;
}

.job-opening__main {
    flex-wrap: wrap;
    margin: 0;
    margin-top: 1rem;
    justify-content: space-between;
}

.job-opening__item {
    width: 30%;
    border: 1px solid #ebebeb;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.job-opening__item:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
}

.job-opening__item h4{
    font-weight: bold;
    font-size: 1.15rem;
}

.job-opening__item p{
    margin-bottom: 0.5rem;
}

.job-opening__item strong::after {
    margin-left: 4px;
    content: "★";
    color: rgb(255, 202, 79);
}

.job-opening__item .time {
    font-size: 0.75rem;
    line-height: 1.33;
    letter-spacing: 0px;
    color: rgb(111, 111, 111);
    margin-bottom: 3rem;
}

.job-opening__item div:first-child {
    width: 100%;
    padding: 1rem;
}


.job-opening__item .apply-now {
    padding: 1rem;
    text-align: right;
    border-top: 1px solid #ebebeb;
}

.job-opening__button{
    text-align: center;
    margin-top: 2rem;
}

.job-opening__button a{
    margin: 0;
    padding: 0.75rem 1.5rem;
    text-align: center;
    background-color: #fff;
    border: 2px solid #085ff7;
    border-radius: 6.25rem;
    cursor: pointer;
    font-weight: bold;
    color: #085ff7;
}

.job-opening__button a:hover{
    background-color: #085ff7;
    color: white !important;
}

.get-alerts {
    padding: 2rem 4rem 4rem 4rem;
    border: 1px solid #ebebeb;
    border-radius: 0.5rem;
    margin-top: 3rem !important;
    position: relative;
    overflow: hidden;
}

.get-alerts form {
    display: flex;
    width: 100%;
}

.get-alerts form p{
    font-size: 0.875rem;
    font-weight: bold;
    color: #4b4b4b;
    margin-bottom: 0.25rem;
}

.get-alerts form div:first-child {
    width: 40%;
    margin-right: 1rem;
}

.get-alerts form div:first-child select{
    padding: 0.75rem 1rem;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    background: white;
    width: 100%;
    font-size: 0.875rem;
    font-weight: bold;
}

.get-alerts form div:nth-child(2) {
    width: 37%;
    margin-right: 1rem;
}

.get-alerts form div:nth-child(2) input {
    height: 2.75rem;
    padding-left: 1rem;
    border-radius: 999px;
    width: 100%;
    border: 1px solid #ccc;
}


.get-alerts form div:last-child {
    line-height: 6;
}


.get-alerts form div:last-child a{
    border: 1px solid #0044e3;
    padding: 0.75rem 2.75rem;
    background-color: #0044e3;
    color: white;
    font-weight: bold;
    border-radius: 999px;
}

.decorate-topleft {
    top: 0;
    left: -0.5rem;
    height: 122px;
    width: 68px;
    position: absolute;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='68px' height='122px' viewBox='0 0 68 122' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 57.1 (83088) - https://sketch.com --%3E%3Ctitle%3Edots-top%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='dots-top'%3E%3Cpath d='M8,0 L47,0 L47,0 C46.987512,21.1220416 46.9687801,35.3580869 46.9438042,42.7081359 C46.9168492,50.640584 46.8801974,56.9108141 46.8338486,61.5188261 C46.7403004,70.8194118 44.1870224,77.7894415 42,83.5 C36,99.1666667 22,112 0,122 L0,8 C-5.41083001e-16,3.581722 3.581722,8.11624501e-16 8,0 Z' id='Rectangle' fill='%23FFE2A5'%3E%3C/path%3E%3Cg id='Group-2' transform='translate(17.000000, 43.422222)' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M43.9065534,24.1021933 C42.9363505,24.1021933 42.1497836,23.4276428 42.1497836,22.5955425 C42.1470587,22.1975903 42.3301497,21.815245 42.658253,21.5338453 C42.9863563,21.2524455 43.4321589,21.0954165 43.8961587,21.0978067 L43.8961587,21.0978067 C44.5541234,21.0543018 45.1850123,21.3307251 45.5295183,21.8134614 C45.8740244,22.2961977 45.8740244,22.9038023 45.5295183,23.3865386 C45.1850123,23.8692749 44.5541234,24.1456982 43.8961587,24.1021933 L43.9065534,24.1021933 Z M32.1813084,24.1021933 C31.5233437,24.1456982 30.8924548,23.8692749 30.5479488,23.3865386 C30.2034427,22.9038023 30.2034427,22.2961977 30.5479488,21.8134614 C30.8924548,21.3307251 31.5233437,21.0543018 32.1813084,21.0978067 L32.1813084,21.0978067 C32.8392732,21.0543018 33.470162,21.3307251 33.8146681,21.8134614 C34.1591741,22.2961977 34.1591741,22.9038023 33.8146681,23.3865386 C33.470162,23.8692749 32.8392732,24.1456982 32.1813084,24.1021933 L32.1813084,24.1021933 Z M20.4872476,24.1021933 C19.5153489,24.1021933 18.7258622,23.4290828 18.7201451,22.5955425 C18.7201451,21.7683658 19.5019961,21.0978067 20.4664582,21.0978067 L20.4664582,21.0978067 C21.3815714,21.1583143 22.0881346,21.8128188 22.0881346,22.6 C22.0881346,23.3871812 21.3815714,24.0416857 20.4664582,24.1021933 L20.4872476,24.1021933 Z M8.78279212,24.1021933 C7.81258919,24.1021933 7.0260223,23.4276428 7.0260223,22.5955425 C7.02329746,22.1975903 7.20638843,21.815245 7.53449172,21.5338453 C7.86259502,21.2524455 8.30839764,21.0954165 8.7723974,21.0978067 L8.7723974,21.0978067 C9.43036214,21.0543018 10.061251,21.3307251 10.405757,21.8134614 C10.7502631,22.2961977 10.7502631,22.9038023 10.405757,23.3865386 C10.061251,23.8692749 9.43036214,24.1456982 8.7723974,24.1021933 L8.78279212,24.1021933 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M43.9065534,3.00886001 C42.9363505,3.00886001 42.1497836,2.33430943 42.1497836,1.50220912 C42.1470587,1.10425697 42.3301497,0.721911697 42.658253,0.440511956 C42.9863563,0.159112216 43.4321589,0.00208315348 43.8961587,0.00447332129 L43.8961587,0.00447332129 C44.5541234,-0.0390315322 45.1850123,0.237391717 45.5295183,0.720128028 C45.8740244,1.20286434 45.8740244,1.810469 45.5295183,2.29320531 C45.1850123,2.77594162 44.5541234,3.05236487 43.8961587,3.00886001 L43.9065534,3.00886001 Z M32.1813084,3.00886001 C31.2111055,3.00886001 30.4246006,2.33430943 30.4246006,1.50220912 C30.4246006,1.10343541 30.6100046,0.721123146 30.9397535,0.439985515 C31.2695024,0.158847883 31.716359,0.00209966821 32.1813084,0.00447332129 L32.1813084,0.00447332129 C32.8392732,-0.0390315322 33.470162,0.237391717 33.8146681,0.720128028 C34.1591741,1.20286434 34.1591741,1.810469 33.8146681,2.29320531 C33.470162,2.77594162 32.8392732,3.05236487 32.1813084,3.00886001 Z M20.4872476,3.00886001 C19.5153489,3.00886001 18.7258622,2.33574944 18.7201451,1.50220912 C18.7201451,0.675032479 19.5019961,0.00447332129 20.4664582,0.00447332129 L20.4664582,0.00447332129 C21.3815714,0.0649809184 22.0881346,0.719485454 22.0881346,1.50666667 C22.0881346,2.29384788 21.3815714,2.94835241 20.4664582,3.00886001 L20.4872476,3.00886001 Z M8.78279212,3.00886001 C7.81258919,3.00886001 7.0260223,2.33430943 7.0260223,1.50220912 C7.02329746,1.10425697 7.20638843,0.721911697 7.53449172,0.440511956 C7.86259502,0.159112216 8.30839764,0.00208315348 8.7723974,0.00447332129 L8.7723974,0.00447332129 C9.43036214,-0.0390315322 10.061251,0.237391717 10.405757,0.720128028 C10.7502631,1.20286434 10.7502631,1.810469 10.405757,2.29320531 C10.061251,2.77594162 9.43036214,3.05236487 8.7723974,3.00886001 L8.78279212,3.00886001 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M48.4335156,14.0622222 C47.465715,14.0622222 46.6811576,13.3876646 46.6811576,12.5555556 C46.6811576,11.7234465 47.465715,11.0488889 48.4335156,11.0488889 L48.4335156,11.0488889 C49.4013162,11.0488889 50.1858736,11.7234465 50.1858736,12.5555556 C50.1858736,13.3876646 49.4013162,14.0622222 48.4335156,14.0622222 Z M36.7684107,14.0622222 C35.7989185,14.0622222 35.0113866,13.3891046 35.0056837,12.5555556 C35.0056837,11.7269157 35.7839239,11.0537921 36.7476727,11.0488889 L36.7476727,11.0488889 C37.7154733,11.0488889 38.5000307,11.7234465 38.5000307,12.5555556 C38.5000307,13.3876646 37.7154733,14.0622222 36.7476727,14.0622222 L36.7684107,14.0622222 Z M25.0929368,14.0622222 C24.1251362,14.0622222 23.3405788,13.3876646 23.3405788,12.5555556 C23.3405788,11.7234465 24.1251362,11.0488889 25.0929368,11.0488889 L25.0929368,11.0488889 C26.0607374,11.0488889 26.8452948,11.7234465 26.8452948,12.5555556 C26.8452948,13.3876646 26.0607374,14.0622222 25.0929368,14.0622222 Z M13.4174629,14.0622222 C12.4496623,14.0622222 11.6651049,13.3876646 11.6651049,12.5555556 C11.6651049,11.7234465 12.4496623,11.0488889 13.4174629,11.0488889 L13.4174629,11.0488889 C14.3852635,11.0488889 15.1698209,11.7234465 15.1698209,12.5555556 C15.1698209,13.3876646 14.3852635,14.0622222 13.4174629,14.0622222 Z M1.75235798,14.0622222 C0.784557393,14.0622222 1.0658141e-14,13.3876646 1.0658141e-14,12.5555556 C1.0658141e-14,11.7234465 0.784557393,11.0488889 1.75235798,11.0488889 L1.75235798,11.0488889 C2.72015857,11.0488889 3.50471597,11.7234465 3.50471597,12.5555556 C3.50471597,13.3876646 2.72015857,14.0622222 1.75235798,14.0622222 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.decorate-bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 110px;
    height: 67px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='110px' height='67px' viewBox='0 0 110 67' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 57.1 (83088) - https://sketch.com --%3E%3Ctitle%3Edots-bottom343%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='dots-bottom343' transform='translate(0.000000, -9.577778)' fill-rule='nonzero'%3E%3Cpath d='M37.6479727,18.1661102 C30.7082044,18.1868709 24.4423687,21.0926958 19.9679203,25.7567815 L80.7271902,106.158145 C84.5666385,103.45147 87.6438094,99.6371908 89.4620551,95.0535494 C93.2011881,85.6275144 90.8597551,74.8551224 83.5536121,67.8701688 L84.6019261,67.8701688 C98.1851441,67.8295336 109.186507,56.7361348 109.226805,43.0392811 C109.209527,29.3218044 98.1950801,18.2010333 84.5914431,18.1661102 L37.6479727,18.1661102 Z' id='Path' fill='%23DEFAFF' transform='translate(64.597363, 62.162128) rotate(-53.000000) translate(-64.597363, -62.162128) '%3E%3C/path%3E%3Cg id='Shape' transform='translate(0.000000, 23.000000)' fill='%23000000'%3E%3Cpath d='M55.6110089,24.1021933 C54.6391102,24.1021933 53.8496235,23.4290828 53.8439064,22.5955425 C53.8439064,21.7683658 54.6257574,21.0978067 55.5902195,21.0978067 L55.5902195,21.0978067 C56.5053327,21.1583143 57.2118959,21.8128188 57.2118959,22.6 C57.2118959,23.3871812 56.5053327,24.0416857 55.5902195,24.1021933 L55.6110089,24.1021933 Z M43.9065534,24.1021933 C42.9363505,24.1021933 42.1497836,23.4276428 42.1497836,22.5955425 C42.1470587,22.1975903 42.3301497,21.815245 42.658253,21.5338453 C42.9863563,21.2524455 43.4321589,21.0954165 43.8961587,21.0978067 L43.8961587,21.0978067 C44.5541234,21.0543018 45.1850123,21.3307251 45.5295183,21.8134614 C45.8740244,22.2961977 45.8740244,22.9038023 45.5295183,23.3865386 C45.1850123,23.8692749 44.5541234,24.1456982 43.8961587,24.1021933 L43.9065534,24.1021933 Z M32.1813084,24.1021933 C31.5233437,24.1456982 30.8924548,23.8692749 30.5479488,23.3865386 C30.2034427,22.9038023 30.2034427,22.2961977 30.5479488,21.8134614 C30.8924548,21.3307251 31.5233437,21.0543018 32.1813084,21.0978067 L32.1813084,21.0978067 C32.8392732,21.0543018 33.470162,21.3307251 33.8146681,21.8134614 C34.1591741,22.2961977 34.1591741,22.9038023 33.8146681,23.3865386 C33.470162,23.8692749 32.8392732,24.1456982 32.1813084,24.1021933 L32.1813084,24.1021933 Z M20.4872476,24.1021933 C19.5153489,24.1021933 18.7258622,23.4290828 18.7201451,22.5955425 C18.7201451,21.7683658 19.5019961,21.0978067 20.4664582,21.0978067 L20.4664582,21.0978067 C21.3815714,21.1583143 22.0881346,21.8128188 22.0881346,22.6 C22.0881346,23.3871812 21.3815714,24.0416857 20.4664582,24.1021933 L20.4872476,24.1021933 Z M8.78279212,24.1021933 C7.81258919,24.1021933 7.0260223,23.4276428 7.0260223,22.5955425 C7.02329746,22.1975903 7.20638843,21.815245 7.53449172,21.5338453 C7.86259502,21.2524455 8.30839764,21.0954165 8.7723974,21.0978067 L8.7723974,21.0978067 C9.43036214,21.0543018 10.061251,21.3307251 10.405757,21.8134614 C10.7502631,22.2961977 10.7502631,22.9038023 10.405757,23.3865386 C10.061251,23.8692749 9.43036214,24.1456982 8.7723974,24.1021933 L8.78279212,24.1021933 Z'%3E%3C/path%3E%3Cpath d='M55.6110089,3.00886001 C54.6391102,3.00886001 53.8496235,2.33574944 53.8439064,1.50220912 C53.8439064,0.675032479 54.6257574,0.00447332128 55.5902195,0.00447332128 L55.5902195,0.00447332128 C56.5053327,0.0649809184 57.2118959,0.719485454 57.2118959,1.50666667 C57.2118959,2.29384788 56.5053327,2.94835241 55.5902195,3.00886001 L55.6110089,3.00886001 Z M43.9065534,3.00886001 C42.9363505,3.00886001 42.1497836,2.33430943 42.1497836,1.50220912 C42.1470587,1.10425697 42.3301497,0.721911697 42.658253,0.440511956 C42.9863563,0.159112216 43.4321589,0.00208315347 43.8961587,0.00447332128 L43.8961587,0.00447332128 C44.5541234,-0.0390315322 45.1850123,0.237391717 45.5295183,0.720128028 C45.8740244,1.20286434 45.8740244,1.810469 45.5295183,2.29320531 C45.1850123,2.77594162 44.5541234,3.05236487 43.8961587,3.00886001 L43.9065534,3.00886001 Z M32.1813084,3.00886001 C31.2111055,3.00886001 30.4246006,2.33430943 30.4246006,1.50220912 C30.4246006,1.10343541 30.6100046,0.721123146 30.9397535,0.439985515 C31.2695024,0.158847883 31.716359,0.0020996682 32.1813084,0.00447332128 L32.1813084,0.00447332128 C32.8392732,-0.0390315322 33.470162,0.237391717 33.8146681,0.720128028 C34.1591741,1.20286434 34.1591741,1.810469 33.8146681,2.29320531 C33.470162,2.77594162 32.8392732,3.05236487 32.1813084,3.00886001 Z M20.4872476,3.00886001 C19.5153489,3.00886001 18.7258622,2.33574944 18.7201451,1.50220912 C18.7201451,0.675032479 19.5019961,0.00447332128 20.4664582,0.00447332128 L20.4664582,0.00447332128 C21.3815714,0.0649809184 22.0881346,0.719485454 22.0881346,1.50666667 C22.0881346,2.29384788 21.3815714,2.94835241 20.4664582,3.00886001 L20.4872476,3.00886001 Z M8.78279212,3.00886001 C7.81258919,3.00886001 7.0260223,2.33430943 7.0260223,1.50220912 C7.02329746,1.10425697 7.20638843,0.721911697 7.53449172,0.440511956 C7.86259502,0.159112216 8.30839764,0.00208315347 8.7723974,0.00447332128 L8.7723974,0.00447332128 C9.43036214,-0.0390315322 10.061251,0.237391717 10.405757,0.720128028 C10.7502631,1.20286434 10.7502631,1.810469 10.405757,2.29320531 C10.061251,2.77594162 9.43036214,3.05236487 8.7723974,3.00886001 L8.78279212,3.00886001 Z'%3E%3C/path%3E%3Cpath d='M48.4335156,14.0622222 C47.465715,14.0622222 46.6811576,13.3876646 46.6811576,12.5555556 C46.6811576,11.7234465 47.465715,11.0488889 48.4335156,11.0488889 L48.4335156,11.0488889 C49.4013162,11.0488889 50.1858736,11.7234465 50.1858736,12.5555556 C50.1858736,13.3876646 49.4013162,14.0622222 48.4335156,14.0622222 Z M36.7684107,14.0622222 C35.7989185,14.0622222 35.0113866,13.3891046 35.0056837,12.5555556 C35.0056837,11.7269157 35.7839239,11.0537921 36.7476727,11.0488889 L36.7476727,11.0488889 C37.7154733,11.0488889 38.5000307,11.7234465 38.5000307,12.5555556 C38.5000307,13.3876646 37.7154733,14.0622222 36.7476727,14.0622222 L36.7684107,14.0622222 Z M25.0929368,14.0622222 C24.1251362,14.0622222 23.3405788,13.3876646 23.3405788,12.5555556 C23.3405788,11.7234465 24.1251362,11.0488889 25.0929368,11.0488889 L25.0929368,11.0488889 C26.0607374,11.0488889 26.8452948,11.7234465 26.8452948,12.5555556 C26.8452948,13.3876646 26.0607374,14.0622222 25.0929368,14.0622222 Z M13.4174629,14.0622222 C12.4496623,14.0622222 11.6651049,13.3876646 11.6651049,12.5555556 C11.6651049,11.7234465 12.4496623,11.0488889 13.4174629,11.0488889 L13.4174629,11.0488889 C14.3852635,11.0488889 15.1698209,11.7234465 15.1698209,12.5555556 C15.1698209,13.3876646 14.3852635,14.0622222 13.4174629,14.0622222 Z M1.75235798,14.0622222 C0.784557393,14.0622222 -1.91846539e-13,13.3876646 -1.91846539e-13,12.5555556 C-1.91846539e-13,11.7234465 0.784557393,11.0488889 1.75235798,11.0488889 L1.75235798,11.0488889 C2.72015857,11.0488889 3.50471597,11.7234465 3.50471597,12.5555556 C3.50471597,13.3876646 2.72015857,14.0622222 1.75235798,14.0622222 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


/*===============================*/


/* CONTENT QUESTIONS */

.what-else {
    padding: 2rem;
    margin-top: 3rem !important;
    border: 1px solid #ebebeb;
    border-radius: 0.5rem;
}

.what-else h2 {
    margin-top: 1rem;
    margin-left: 1rem;
}

.what-else textarea {
    margin-top: 2rem;
    width: 100%;
    height: 6rem;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    resize: none;
    outline: none;
}


.what-else button {
    padding: 0.5rem 1.75rem;
    border-radius: 999px;
    background-color: #085ff7;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 0.5rem;
}



/*===============================*/


/* CONTENT ARTICLES */

.articles__tag {
    padding: 0;
    margin-top: 2rem !important;
}

.articles__tag a {
    margin-right: 1rem;
    padding: 0.75rem 1rem;
    color: #2d2d2d;
    border-radius: 9999px;
    background-color: transparent;
    font-size: 0.95rem;
    border: 1px solid #999;
}

.articles__tag a:hover {
    background-color: #085FF7;
    color: white;
}

.tag-active {
    background-color: #085FF7 !important;
    color: white !important;
    font-weight: bold;
}

.articles__main {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem !important;
    padding: 0;
}

.articles__left { 
    width: 35%;
    margin: 0;
}

.articles__left__item {
    display: flex;
    height: 100px;
    margin-bottom: 1rem;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}

.articles__left__item:hover {
    margin-top: -0.125rem;
    margin-bottom: 1.125rem;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
}

.articles__left__item:last-child:hover {
    margin-top: -0.125rem;
    margin-bottom: 0.125rem;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
}

.articles__item-active::after {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 1rem;
    right: -0.5rem;
    background-color: blue;
}

.articles__left__item:last-child {
    margin-bottom: 0rem;
}

.articles__left__item .item__images {
    width: 6rem;
}

.articles__left__item .item__images img{
    object-fit: cover;
}


.articles__left__item .item__des {
    width: 70%;
    margin: 0;
    padding: 1rem;
}

.articles__left__item .item__des .title {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    color: #909090;
}


.articles__right {
    margin-left: 3rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    width: 60%;
    margin: 0;
    height: 27.5rem;
    overflow-y: scroll;
    position: sticky;
    max-height: calc(100vh - 6rem);
    top: 6rem;
    z-index: 0;

}

.articles__right hr {
   border: 1px solid #ebebeb;
   margin: 1.25rem 0;
}

.articles__right p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
 }


/*===============================*/


/* CONTENT COMPANIES  */

.top-rated {
    padding: 0;
    margin-top: 2rem !important;
}

.top-rated > .row {
    padding: 1rem;
    justify-content: space-between;
}

.top-rated .ranking-menu {
    width: 25%;
    height: fit-content;
    position: sticky;
    top: 8rem;
}

.top-rated .ranking-menu > div:first-child {
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 0.5rem;
}

.top-rated .ranking-menu p {
    font-weight: bold;
}

.top-rated .ranking-menu div:last-child a{
    margin-left: 1rem;
}

.top-rated .ranking-menu a {
    display: block;
    font-size: 0.875rem;
    color: #4b4b4b;
}

.top-rated .ranking-menu a:hover {
    color: #085FF7;
}


.top-rated__main {
    width: 70%;
}

.top-rated__main {
    width: 70%;
}

.top-rated__main ul {
    border: 1px solid#ebebeb;
    padding: 0.5rem 0 0 0;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 4rem;
}

.top-rated__item {
    cursor: pointer;
    display: flex;
    padding: 1rem;
    padding-left: 2rem;
    border-top: 1px solid #ebebeb;
}

.top-rated__item__dark {
    background-color: #fbfbfb;
}

.top-rated__item:hover {
    background-color: #095ef7;
}

.top-rated__item:hover a{
    color: white !important;
}

.top-rated__item:hover i.fa-chevron-right{
    color: white !important;
}


.top-rated__item .top-rated__item__main {
    margin-left: 0.75rem;
    width: 85%;
    padding-top: 0.5rem;
}


.top-rated__item .top-rated__item__logo{
    width: 4.25rem;
}

.top-rated__item .top-rated__item__logo img {
    width: 100%;
    height: 4.25rem;
}

.top-rated__item a {
    color: black;
    margin-right: 0.25rem;
}

.top-rated__item a:last-child {
    font-size: 0.875rem;
    color: #4b4b4b; 
}

.top-rated__item i.fa-chevron-right {
    margin-top: 1.25rem;
    color: black;
}



